.inp
    font-size 34rpx
    height 108rpx
    border-bottom 1px solid #eee
.logo
    width 142rpx
    height 51rpx
    position absolute
    bottom 60rpx
    left 50%
    transform translateX(-50%)
.forgot
    font-size 28rpx
    color 28rpx
    














