page
    padding-top 20rpx
.list
    padding 0 25rpx
.item
    height 270rpx
    border-radius 16rpx
    background rgba(243, 111, 97, 0.2)
    padding 13rpx
    box-sizing border-box
    margin-bottom 32rpx
.itemInner
    border-radius 16rpx
    background #fff
    height 100%
    overflow hidden
.itemTitle
    height 84rpx
.edit
    width 37rpx
    height 37rpx
.bankName
    font-size 34rpx
    color #333
    font-weight 600
.default
    width 65rpx
    height 36rpx
    background rgba(233, 52, 33, 1)
    border-radius 6rpx
    font-size 24rpx
    color #fff
    text-align center
    line-height 36rpx
.num
    color #fff
    height 160rpx
    padding-left 40rpx
    background #DB2411
    font-size 52rpx
    line-height 160rpx
    font-weight bold
.addIcon
    width 40rpx
    height 40rpx
.addCard
    height 80rpx
    background #fff
    box-shadow 0 0 12rpx 0 rgba(0, 0, 0, 0.06)
    border-radius 6rpx
