page
    background #f8f8f8
    padding 0 25rpx 140rpx
    min-height 100%
    box-sizing border-box
.fixed
    position fixed
    left 0
    top 0
    width 100%
    margin-top 0 !important
    background #fff
    z-index 100