.wrap
    background #f8f8f8
    padding 20rpx 25rpx 80rpx
    min-height 100%
.bannerImg
    width 700rpx
    height 300rpx
.card
    background #fff
    border-radius 10rpx
.cardTitle
    height 84rpx
.cardTitleText
    font-size 30rpx
    color #333
    margin-left 15rpx
    font-weight bold
.labelImg
    width 42rpx
    height 42rpx
.cardMain
    padding 20rpx 30rpx
.cardMainItem
    padding 20rpx
    text-align center
    width 50%
    box-sizing border-box
.cardMainItem view:nth-child(1)
    font-weight bold
.cardMainItemTextNum
    font-size 38rpx
    color #000
.cardMainItemText
    font-size 26rpx
    color #999
    margin-top 10rpx
.filterImg
    width 34rpx
    height 40rpx
.title2
    font-size 26rpx
    color #000
    padding 20rpx
.list
    border-radius 0 0 10rpx 10rpx
.listItem
    width 25%
    text-align center
.line::after
    position absolute
    right 0
    top 50%
    transform translateY(-50%)
    content ''
    width 1px
    height 60rpx
    background #eee
.listNum
    font-size 26rpx
    color #000
    font-weight bold
.listText
    font-size 24rpx
    color #999
    margin-top 10rpx
.moreImg
    width 30rpx
    height 30rpx
.fixedTop
    position fixed
    top 0
    left 0
    width 100%
    z-index 100
.filter
    position fixed
    left 0
    top 0
    width 100%
    height 100%
    background #fff
    z-index 1000
    overflow-y auto
.fItem
    display flex
    justify-content space-between
    align-items center
    margin-top 40rpx
.fItemL
    font-size 32rpx
    color #333
    font-weight bold
.fItemR
    display flex
    align-items center
.fItemR view
    font-size 26rpx
    color #999   
.hiddenBrand
    height 188rpx
    overflow hidden
.fItemBox view
    width 210rpx
    height 70rpx
    background rgba(247, 247, 247, 1)
    border-radius 6rpx
    margin-right 28rpx
    font-size 28rpx
    color #333
    text-align center
    line-height 70rpx
    margin-top 24rpx
.fItemBox view:nth-child(3n)
    margin-right 0
.priceBox
    width 300rpx
    height 70rpx
    border-radius 6rpx
    border 1px solid rgba(202, 202, 202, 1)
.priceInp
    width 200rpx
    height 50rpx
    margin-left 6rpx
    font-size 28rpx
.line2
    width 46rpx
    height 1px
    background #CACACA
.timeInp
    display block
    width 100%
    height 100%
    padding-left 24rpx
    box-sizing border-box
    font-size 28rpx
.btnWrap
    position fixed
    width 100%
    height 90rpx
    left 0
    bottom 0
    z-index 100
.btnWrap view
    width 50%
    height 100%
    font-size 34rpx
    line-height 90rpx
    text-align center
.reset
    background #FCE5E3
.confirm
    background rgba(233, 52, 33, 1)
.arrow
    width 30rpx
    height 30rpx
    margin-left 10rpx
    margin-right 10rpx
    transform rotate(90deg)
.arrow_t
    transform rotate(-90deg)
.typeShow
    height auto !important
    overflow auto !important
.currType
    background #FFE9E9 !important
    color #E93421 !important
.br1
    border-right 1px solid #eee
#listTitle
    margin-top 20rpx
.fixed
    position fixed
    left 0
    top 0
    width 100%
    margin-top 0 !important
    background #fff
    z-index 100
.currType
    background #ffe9e9 !important
    color #e93421 !important
.city-nav
    padding 38rpx 0
.city-tag
    height 58rpx
    padding 0 20rpx
    background #eee
    border-radius 12rpx
    font-size 26rpx
    color #333333
    margin-right 20rpx
    line-height 58rpx






