page 
    padding-bottom 80rpx
    background-color #fff
.top
    height 380rpx
    background #E93421
.info
    margin-left 32rpx
    padding-top 50rpx
.avatar
    width 120rpx
    height 120rpx
    background #fff
    border-radius 50%
    border 4rpx solid #fff
.money
    display flex
    justify-content space-between
    padding 0 40rpx 
    width 686rpx
    height 250rpx
    box-sizing border-box
    background #fff
    border-radius 14rpx
    box-shadow 0 0 20rpx 0 rgba(37, 37, 37, 0.11)
    position absolute
    left 50%
    top 240rpx
    transform translateX(-50%)
.num
    font-size 60rpx
    color #000
.tx
    width 168rpx
    height 72rpx
    background rgba(233, 52, 33, 1)
    border-radius 8rpx
    text-align center
    line-height 72rpx
    font-size 34rpx
    color #fff
.list
    padding 120rpx 0 0 40rpx
.icon
    width 60rpx
    height 60rpx
.listRight
    height 100rpx
    margin-left 35rpx
    padding-right 30rpx
    width 615rpx
    box-sizing border-box
.listText
    font-size 34rpx
    color #333
.arrow
    width 60rpx
    height 60rpx
