.item
    height 100rpx
.itemL
    color #333
    font-size 34rpx
    width 190rpx
.inp
    width 370rpx
    font-size 34rpx
    height 100rpx
.code
    position absolute
    font-size 30rpx
    right 13rpx
    top 50%
    transform translateY(-50%)
    z-index 100
.btn
    margin-top 100rpx