page
    padding-top 20rpx
    background #f8f8f8
.card
    background #fff
    border-radius 10rpx
.wrap
    padding 0 30rpx
.cardTitle
    font-size 30rpx
    color #333
    height 84rpx
    line-height 84rpx
.mIcon
    font-size 80rpx
.inp
    height 112rpx
    font-size 80rpx
    width 500rpx
.input-placeholder
    font-size 56rpx
.iconBank
    width 34rpx
    height 35rpx
.h64
    height 64rpx
.myWeuiTopTips
    background rgba(0, 0, 0, 0.5) !important
.bottomBox
    padding 0 30rpx
    position fixed
    box-sizing border-box
    left 0
    bottom 100rpx
    width 100%
.arrow
    width 60rpx
    height 60rpx
.iconBank2
    width 40rpx
    height 40rpx
.unBind
    height 130rpx
